@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: #f1f1f1;
    color: #0f141e;
    font-size: 20px;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
}

h3 {
    margin: 0;
}

#discriptionContainer {
    max-height: 25px;
    max-width: 370px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0px;
}

.noteContent {
    padding: 25px;
}

h4 {
    margin-top: 20px !important;
    margin-bottom: 0 !important;
}

.containersItem {
    width: 100%;
    max-width: inherit;
    height: 100%;
}

.myContainer {
    max-width: 30em;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.noteDiscrtiption {
    width: 535px;
    height: 95px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
    justify-content: space-between;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    margin-bottom: 15px;
    background: white;
}

    .noteDiscrtiption:hover{
        background-color: #f2f2f2;
    }

.iconsTollBar{
    margin: 10px 0;
}

.iconToll {
    all: unset;
    font-size: 25px;
    margin-right: 10px;
}

.icons {
    margin-left: 20px;
}

.iconButton {
    all: unset;
    font-size: 25px;
}

.buttonCreateStyle {
    display: flex;
    justify-content: flex-start;
    background: white;
}

    .buttonCreateStyle:hover{
        background-color: #f2f2f2;
    }

.noteForm {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgb(0, 0, 0, 0.4);
    font-size: 20px;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
}

.noteFormContent {
    background: white;
    width: 700px;
    margin-left: 10px;
    box-shadow: 0px 5px 10px 2px rgb(34 60 80 / 20%);
    min-height: 425px;
    position: sticky;
    top: 10px;
    left: 0;
    padding: 5px;
}

.noteFormHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom:25px;
} 

.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.group {
    position: relative;
    margin-bottom: 20px;
}

    .group input {
        background-color: white;
        font-size: 20px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #757575;
        margin-top: 40px;
    }

    input:focus {
        outline: none;
    }

/* LABEL ======================================= */
    .group label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.group input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

/* active state */
.group input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.group input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.toolbar a{
    display: inline-block;
    border: 1px solid #888;
    padding: 5px 8px;
    margin: 0 5px 10px 0;
    color: #000;
    border-radius: 3px;
    font-size: 15px;
    box-shadow: 1px 1px 2px #ddd;
    background: white;
    vertical-align: top;
    text-decoration: none;
}

.editor {
    min-height: 200px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #ddd;
    background: white;
}


