@model IEnumerable<Note>

 <div class="myContainer">
        <h3>
            Список заметок
        </h3>
        <div class="buttonCreateStyle">
            <button class="iconButton" type="button" onclick="openForm('Note/CreateNote')">
                <i class="fa-solid fa-plus" title="Добавить заметку"></i>
            </button>
        </div>
        @foreach(var note in Model)
        {
        <form class="noteDiscrtiption" method="post" action="Note/DeleteNote">
            <div id="containerNote" >
                <input hidden name="noteId" id="id" value="@note.Id" />
                <h4 id="name">
                    @note.Name
                </h4>
                <p id="discription">
                    @note.Discription
                </p>
            </div>
            <div class="icons">
                <button class="iconButton" type="button" onclick="openForm(this, 'Note/UpdateNote')">
                    <i class="fa-solid fa-pen-to-square" title="Изменить"></i>
                </button>
                <button class="iconButton" type="submit">
                    <i class="fa-solid fa-trash" title="Удалить"></i>
                </button>
            </div>
        </form>
        }
    </div>

    <div id="modelWindowForm" class="noteForm" onclick="$('#modelWindowForm').removeClass('active')">  
        <div class="noteFormContent" onclick="event.stopPropagation()">
           <div class="noteFormHeader">
               <span >
                   Заметка
               </span>
               <button class="btn-close" onclick="$('#modelWindowForm').removeClass('active')"></button>
                   </div>
        <form id="noteForm"  method="post" action="Note/CreateNote">        
        <input hidden type="text" name="Id"/>
        <label>
            Заголовок
        </label>
        <input type="text" name="Name"/>
         <label>
            Описание
        </label>
        <input type="text" name="Discription"/>
        <button type="submit">
            Ок
        </button>
    </form>
   </div>
    </div>

    
