@using System.Web
@model IEnumerable<Note>

    <div class="row noteContent">
       <div class="myContainer col">
           <div class="containersItem">
            <div class="buttonCreateStyle noteDiscrtiption">
                <button class="iconButton" type="button" onclick="openForm(this, 'Note/CreateNote')">
                    <i class="fa-solid fa-plus" title="Добавить заметку"></i>
                    Новая заметка
                </button>
            </div>
            @foreach(var note in Model)
            {
            <form class="noteDiscrtiption" method="post" action="Note/DeleteNote">
                <div id="containerNote">
                    <input hidden name="noteId" id="id" value="@note.Id" />
                    <h4 id="name">
                            @{
                                if(String.IsNullOrEmpty(note.Name))
                                {
                                    note.Name = "Без названия";
                                }
                            }
                            @note.Name

                    </h4>
                    <div id="discriptionContainer">
                    <span id="discription" name="fDiscription">
                        @Html.Raw(HttpUtility.HtmlDecode(@note.Discription))
                    </span>
                    </div>
                </div>
                <div class="icons">
                    <button class="iconButton" type="button" onclick="openForm(this, 'Note/UpdateNote')">
                        <i class="fa-solid fa-pen-to-square" title="Изменить"></i>
                    </button>
                    <button class="iconButton" type="submit">
                        <i class="fa-solid fa-trash" title="Удалить"></i>
                    </button>
                </div>
            </form>
            }
            </div>
        </div>
        <div class="col">
            <div class="noteFormContent ">
                <form id="noteForm" method="post" action="Note/CreateNote">
                    <input hidden type="text" name="Id" id="noteID"/>
                    <div class="group">
                        <input type="text" name="Name" id="noteName" required />
                        <span class="highlight"></span>
                        <span class="bar">
                        </span>
                        <label>Название</label>
                    </div>
                    <div>
                        <div class="toolbar">
                            <a href="#" id="jBold" class="toolbar-b fas fa-bold" title="Жирный"></a>
                            <a href="#" id="jItalic" class="toolbar-i fas fa-italic" title="Курсив"></a>
                            <a href="#" id="jUnderline" class="toolbar-u fas fa-underline" title="Подчёркнутый"></a>
                            <a href="#" id="aLeft" class="toolbar-left fas fa-align-left" title="по левому краю"></a>
                            <a href="#" id="aCenter" class="toolbar-center fas fa-align-center" title="по центру"></a>
                            <a href="#" id="aRight" class="toolbar-right fas fa-align-right" title="по правому краю"></a>
                        </div>

                        <div class="editor" name="Discription" id="discriptionNote" contenteditable="true"></div>
                    </div>
                    <p hidden id="alert" style="color: red; font-size: 12px;">Заполните хотябы одно поле</p>
                    <button id="superButton" type="button" class="btn btn-primary mb-3 mt-2" onclick="submitFormNote()">
                        Создать
                    </button>
                </form>
             </div>
          </div>
        </div>


    
